extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  - currentPage = '/pricing'
  include ../_modules/header
  include ../_modules/top-menu
  // - aici facem treaba
  include ../_modules/footer

